@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta charset="utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        天地图
    </title>
    <script src="http://172.17.6.157:8033/arcgis_js_api/library/3.6/"></script>
    <script src="~/Content/map.js"></script>

</head>
<body style="cursor: default;" class="claro">
    <div id="map"></div>
</body>
</html>