@{
    Layout = null;
}

<div class="profile-user-info profile-user-info-striped">

    <div class="profile-info-row">
        <div class="profile-info-name"> 处理类型：</div>

        <div class="profile-info-value">
            <span class="editable editable-click">直属中队</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 派发时间： </div>

        <div class="profile-info-value">
            <span class="editable editable-click">2016-10-12 10:12:57 </span>
        </div>
        <div class="profile-info-name"> 受理时间： </div>

        <div class="profile-info-value">
            <span class="editable editable-click">2016/10/10 9:40:02 </span>
        </div>

    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 终止时间： </div>

        <div class="profile-info-value">
            <span class="editable editable-click">2016-10-12 10:42:57 </span>
        </div>
        <div class="profile-info-name"> 剩余时间： </div>

        <div class="profile-info-value">
            <span class="editable editable-click">-191分钟 (工作时)</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 问题来源： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">监督员上报 </span>
        </div>
        <div class="profile-info-name"> 问题来源： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">事件 </span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 大类： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">街面秩序 </span>
        </div>
        <div class="profile-info-name"> 小类： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">非机动车乱停放</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 监督员： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">徐呈燕 </span>
        </div>
        <div class="profile-info-name"> 城管通号： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">15857876637</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 所属街道： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">所属街道 </span>
        </div>
        <div class="profile-info-name"> 所属街道： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">中山社区</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 案卷号： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">云和数管【2016】第249604号 </span>
        </div>
        <div class="profile-info-name"> XY坐标： </div>
        <div class="profile-info-value">
            <span class="editable editable-click">28.117016343201307 </span>
            <span class="editable editable-click">28.117016343201307 </span>
        </div>
    </div>

</div>

<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"> 事发位置： </div>

        <div class="profile-info-value">
            <span class="editable editable-click">中山路</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 事发位置： </div>

        <div class="profile-info-value">
            <span class="editable editable-click">  汉固达商城门前人行道上有非机动车乱停放。凤凰山街道</span>
        </div>
    </div>
</div>