@{
    Layout = null;
}
<div id="projectdetail">
    <script type="text/template" id="projectdetailtpl">
        <div class="row center">
            <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                <i class="ace-icon fa fa-map-marker bigger-150 middle orange2"></i>
                <span>定位 </span>
            </button>
            <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                <i class="ace-icon fa  fa-adjust bigger-150 middle orange2"></i>
                <span>新旧对照 </span>
            </button>
            {{if project.Collecters.length>0}}
            <button type="button" class="btn btn-sm btn-primary btn-white btn-round" id="sendmessage" collname="{{project.Collecters[0].CollName}}" collcode="{{project.Collecters[0].CollCode}}">
                <i class="ace-icon fa  fa-pencil-square-o bigger-150 middle orange2"></i>
                <span>消息发送 </span>
            </button>
            {{/if}}
        </div>
        <div class="space-4"></div>

        <div class="row">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 处理类型：</div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.TargetDepartName}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 派发时间： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.RacTime}} </span>
                    </div>
                    <div class="profile-info-name"> 受理时间： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.StartDate}} </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 终止时间： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.EndTime}}</span>
                    </div>
                    <div class="profile-info-name"> 剩余时间： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.LimitTime}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 问题来源： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.ProbSourceName}} </span>
                    </div>
                    <div class="profile-info-name"> 问题分类： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.ProbClassName}} </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 大类： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.BigClassName}} </span>
                    </div>
                    <div class="profile-info-name"> 小类： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.SmallClassName}}</span>
                    </div>
                </div>
                {{if project.Collecters.length>0}}
                <div class="profile-info-row">
                    <div class="profile-info-name"> 监督员： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.Collecters[0].CollName}} </span>
                    </div>
                    <div class="profile-info-name"> 城管通号： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.Collecters[0].Mobile}}</span>
                    </div>
                </div>
                {{/if}}
                <div class="profile-info-row">
                    <div class="profile-info-name"> 所属街道： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click"> {{project.Street}}</span>
                    </div>
                    <div class="profile-info-name"> 所属社区： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.Square}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 案卷号： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.ProjName}} </span>
                    </div>
                    <div class="profile-info-name"> XY坐标： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.Longitude}} </span>
                        <span class="editable editable-click">{{project.Latitude}} </span>
                    </div>
                </div>
            </div>
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 事发位置： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{project.Address}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 情况描述： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click"> {{project.ProbDesc}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{if  project.ProjectFiles.length>0}}
        <div class="row">
            <div class="col-xs-12 col-sm-6 widget-container-col ui-sortable">
                <!-- #section:custom/widget-box -->
                <div class="widget-box ui-sortable-handle">
                    <div class="widget-header">
                        <h5 class="widget-title">处理前</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12  center">
                                    <div style="position:relative;">
                                        <span class="prev" style="position:absolute;left:0px;top:100px;cursor:pointer;"><i class="ace-icon fa fa-arrow-left blue icon-on-left"></i></span>
                                        <span class="next" style="position:absolute;right:0px;top:100px;cursor:pointer;"><i class="ace-icon fa fa-arrow-right blue icon-on-right"></i></span>
                                        <!-- #section:pages/profile.picture -->
                                        <span class="profile-picture" style="width:210px;height:200px;overflow:hidden;">
                                            {{each project.ProjectFiles as pic}}
                                            {{if pic.FileState==0}}
                                            <a href="{{pic.FilePath}}" target="_blank">
                                                <img src="{{pic.FilePath}}" width="200" height="200" />
                                            </a>
                                            {{/if}}
                                            {{/each}}

                                        </span>
                                        <div class="space-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section:custom/widget-box -->
            </div>
            <div class="col-xs-12 col-sm-6 widget-container-col ui-sortable">
                <!-- #section:custom/widget-box -->
                <div class="widget-box ui-sortable-handle">
                    <div class="widget-header">
                        <h5 class="widget-title">处理后</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12  center">
                                    <div style="position:relative;">
                                        <span class="prev" style="position:absolute;left:0px;top:100px;cursor:pointer;"><i class="ace-icon fa fa-arrow-left blue icon-on-left"></i></span>
                                        <span class="next" style="position:absolute;right:0px;top:100px;cursor:pointer;"><i class="ace-icon fa fa-arrow-right blue icon-on-right"></i></span>
                                        <!-- #section:pages/profile.picture -->
                                        <span class="profile-picture" style="width:210px;height:200px;overflow:hidden;">
                                            {{each project.ProjectFiles as pic}}
                                            {{if pic.FileState==1}}
                                            <a href="{{pic.FilePath}}" target="_blank">
                                                <img src="{{pic.FilePath}}" width="200" height="200" />
                                            </a>
                                            {{/if}}
                                            {{/each}}
                                        </span>
                                        <div class="space-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section:custom/widget-box -->
            </div>
        </div>
        {{/if}}

    </script>
</div>
<script type="text/javascript">
    project.getProjectDetail('@(Request["projectcode"])', '@(Request["year"])', '@(Request["isend"])', '@(Request["nodeid"])');
</script>