@{
    Layout = null;
}

<div id="projecttrace">
    <script type="text/template" id="projecttracetpl">

        <div class="row">
            {{each projectTrace as item i}}
            {{if i==0}}
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 案卷号： </div>

                    <div class="profile-info-value">
                        <span class="editable editable-click" id="username">{{item.ProjName}}</span>
                    </div>
                    <div class="profile-info-name"> 职能部门： </div>

                    <div class="profile-info-value">
                        <span class="editable editable-click" id="username">{{item.TargetDepartName}}</span>
                    </div>
                    <div class="profile-info-name"> 当前阶段： </div>

                    <div class="profile-info-value">
                        <span class="editable editable-click" id="username">{{item.ActionName}}</span>
                    </div>

                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>经办人</th>
                            <th>受理部门</th>
                            <th class="hidden-480">阶段</th>
                            <th>意见 </th>
                            <th class="hidden-480">受理时间</th>
                            <th>办理时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{each projectTrace as item i}}
                        <tr>
                            <td>{{item.UserName}}</td>
                            <td>{{item.DepartName}}</td>
                            <td class="hidden-480">{{item.ActionName}}</td>
                            <td>{{item._Opinion}}</td>
                            <td class="hidden-480">{{item.StartDate}}</td>
                            <td>{{item.Cu_Date}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </script>
</div>



<script type="text/javascript">
    project.getProjectTrace('@(Request["projectcode"])', '@(Request["year"])', '@(Request["isend"])');
</script>