@{
    Layout = null;
}
<div id="projectdetail">
    <script type="text/template" id="projectdetailtpl">
        <div class="row">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 案卷编号： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{ProjName}} </span>
                    </div>
                    <div class="profile-info-name"> 问题分类： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{ProbClassName}} </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 大类： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{BigClassName}}</span>
                    </div>
                    <div class="profile-info-name"> 小类： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{SmallClassName}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 街道社区： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{Street}} /{{Square}}</span>
                    </div>
                    <div class="profile-info-name"> 工作网格： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 操作员： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{BigClassName}} </span>
                    </div>
                    <div class="profile-info-name"> 上报时间： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{StartDate}}</span>
                    </div>
                </div>
            </div>
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 已派遣部门： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click"> {{TargetDepartName}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 事发位置： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click">{{Address}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 问题描述： </div>
                    <div class="profile-info-value">
                        <span class="editable editable-click"> {{ProbDesc}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 意见： </div>
                    <div class="profile-info-value">
                       <textarea id="" name=""></textarea>
                    </div>
                </div>
            </div>
        </div>
     
    </script>
</div>
<script type="text/javascript">
    project.getProjectDetail('@(Request["projectcode"])','@(Request["year"])','@(Request["isend"])','@(Request["nodeid"])');
</script>