@{
    Layout = null;
}
<form class="input-line">

    <div id="projectdetailLA">
        <script type="text/template" id="projectdetailLAtpl">

            <div class="row center">
                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right center">
                    <div class="inline position-relative">
                        <a href="javascript:;" class="user-title-label" style="text-decoration:none;">
                            &nbsp;
                            {{if dotype==0}}
                            <span class="white">城市问题处理表(指挥中心任务分派)</span>
                            {{else if dotype==1}}
                            <span class="white">城市问题处理表(指挥中心任务回退)</span>
                            {{else if dotype==2}}
                            <span class="white">城市问题处理表(指挥中心发操作员核查)</span>
                            {{else if dotype==3}}
                            <span class="white">城市问题处理表(指挥中心核查回退)</span>
                            {{/if}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="space"></div>
            <div class="row">

                <div class="profile-user-info profile-user-info-striped">

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 案卷号： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.ProjName}} </span>
                        </div>
                        <div class="profile-info-name"> 问题分类： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.ProbClassName}} </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 大类： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.BigClassName}}</span>
                        </div>
                        <div class="profile-info-name"> 小类： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.SmallClassName}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 所属街道： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.Street}} </span>
                        </div>
                        <div class="profile-info-name"> 所属社区： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.Square}} </span>
                        </div>
                    </div>
                </div>

                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 问题描述： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.ProbDesc}} </span>
                        </div>
                    </div>
                    {{if project.VerifyDesc!=null&&project.VerifyDesc!=""}}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 核实描述： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.VerifyDesc}} </span>
                        </div>
                    </div>
                    {{/if}}
                </div>

                <div class="profile-user-info profile-user-info-striped">

                    <div class="profile-info-row">
                        {{if project.ProbSource==1}}
                        <div class="profile-info-name"> 监督员： </div>
                        {{else}}
                        <div class="profile-info-name"> 操作员： </div>
                        {{/if}}
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.Operator}} </span>
                        </div>
                        <div class="profile-info-name"> 上报时间： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.StartDate}}</span>
                        </div>
                    </div>

                </div>

                <div class="profile-user-info profile-user-info-striped">
                    {{if project.Option!=null&&project.Option!=""}}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 回退意见： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.Option}} </span>
                        </div>
                    </div>
                    {{/if}}
                    <div class="profile-info-row hide">
                        {{if dotype=="0"}}
                        <div class="profile-info-name"> 职能部门批转意见： </div>
                        {{else if dotype=="1"}}
                        <div class="profile-info-name"> 值班长批转意见： </div>
                        {{else if dotype=="2"}}
                        <div class="profile-info-name"> 责任单位反馈信息： </div>
                        {{else if dotype=="3"}}
                        <div class="profile-info-name"> 责任单位反馈信息： </div>
                        {{/if}}
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.LastOpinion}} </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 已派遣部门： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">{{project.TargetDepartName}} </span>
                            <input type="hidden" name="TargetDepartCode" id="TargetDepartCode" value="{{project.TargetDepartCode}}" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 二次派遣： </div>
                        <div class="profile-info-value">
                            <span class="input-icon input-icon-right">
                                <input type="text" name="TargetDepartName" id="TargetDepartName" data-url="/callAcceptance/project/SelectDepart" value="">
                                <i class="ace-icon fa fa-plus-circle bigger-120  blue"></i>
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 手机号码： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">
                                <input type="text" id="Mobile" name="Mobile" class="form-control" value="{{project.TargetDepartMobile}}" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 责任部门意见： </div>
                        <div class="profile-info-value">
                            <span class="editable editable-click">
                                <input type="text" class="form-control" name="Option" id="Option"  value="请处理"/>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
            <input type="hidden" name="ProjectTypeCode" id="ProjectTypeCode" value="{{project.TypeCode}}" />
            <input type="hidden" name="SmallClassCode" id="SmallClassCode" value="{{project.SmallClass}}" />
            <input type="hidden" name="ProjectCode" id="ProjectCode" value="{{project.ProjectCode}}" />
            <input type="hidden" name="ButtonCode" id="ButtonCode" value="@(Request["buttoncode"])" />

        </script>
    </div>

</form>

<script type="text/javascript">

    project.getProjectDetailLA('@Request["dotype"]', '@(Request["projectcode"])', '@(Request["nodeid"])');

</script>