@{
    Layout = null;
}

<link rel="stylesheet" href="/Content/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/Content/zTree_v3/js/jquery.ztree.core.js"></script>

<div class="row">
    <div class="col-xs-12  widget-container-col ui-sortable">
        <form>
            <div class="widget-box widget-color-blue ui-sortable-handle">
                <!-- #section:custom/widget-box.options -->
                <div class="widget-header">
                    <h5 class="widget-title bigger lighter">
                        <i class="ace-icon fa fa-table"></i>
                        点击选择区域街道
                    </h5>
                </div>

                <!-- /section:custom/widget-box.options -->
                <div class="widget-body">
                    <div class="widget-main ">
                        <ul id="treeDemo" class="ztree"></ul>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>