@{
    Layout = null;
}

<link rel="stylesheet" href="/Content/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/Content/zTree_v3/js/jquery.ztree.core.js"></script>


<div class="col-xs-12  widget-container-col ui-sortable">
    <form>
        <div class="widget-box widget-color-blue ui-sortable-handle">
            <!-- #section:custom/widget-box.options -->
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    点击选择部门
                </h5>
            </div>

            <!-- /section:custom/widget-box.options -->
            <div class="widget-body">
                <div class="widget-main ">
                    <ul id="treeDemo" class="ztree"></ul>

                </div>
            </div>
        </div>
        <div class="clearfix  form-actions" style="margin:0px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="button" id="departselected">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    选择
                </button>
            </div>
        </div>
    </form>
</div>
