@{
    ViewBag.Title = "WarningMessage";
}

<h2>WarningMessage</h2>
<script type="text/javascript">
    $(function () {
        ace.load_ajax_scripts([null], function () {

        })
    });
</script>