@{
    Layout = null;
}


<div class="row">

    <div class="col-xs-2 col-sm-2 pricing-span-header">
        <div class="widget-box widget-color-blue ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">角色管理</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <ul class="list-unstyled  pricing-table-header" id="permissionList"></ul>
                    <input type="hidden" name="roleId" id="roleId" value="" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-10 pricing-span-body">
        <div class="widget-box widget-color-blue ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">编辑角色</h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                    </a>
                </div>
                <div class="widget-toolbar no-border">
                    <button class="btn btn-xs bigger btn-yellow dropdown-toggle" data-toggle="dropdown" id="addrole">
                        添加
                    </button>
                    <button class="btn btn-xs bigger btn-yellow dropdown-toggle" data-toggle="dropdown" id="deleterole">
                        删除
                    </button>
                </div>

            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="well col-xs-12">
                        <div class="well col-xs-6">
                            <form class="form-horizontal" role="form">
                                <!-- #section:elements.form -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称 </label>

                                    <div class="col-sm-9">
                                        <input type="text" id="RoleName" name="RoleName" placeholder="" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> 选择阶段 </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="StepId" name="StepId"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> 所属区域 </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="AreaId" name="AreaId"></select>
                                    </div>
                                </div>
                                <!-- /section:elements.form -->
                                <div class=" form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="button" id="saverole">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            确认
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            取消
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div>
        </div>
    </div>

</div>

<script src="/content/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/content/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<link rel="stylesheet" href="/Content/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/Content/zTree_v3/js/jquery.ztree.core.js"></script>
<script src="/content/assets/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="/content/assets/js/jquery.dataTables.min.js"></script>
<script src="/content/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="/Content/zTree_v3/js/jquery.ztree.excheck.min.js"></script>

<script type="text/javascript">

    $(function () {

        ace.load_ajax_scripts([null], function () {

            role.getRoleList(function () {
                role.getRoleById();
            });
            role.getStepList();
            project.getareaList();
            role.deleteRole();
            role.addRole();
            role.saveRole();

        });

    })


</script>