@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/assets/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="/content/assets/css/ace-fonts.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/content/assets/css/jquery-ui.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/content/assets/css/ace.min.css" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/content/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="/content/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/content/assets/css/ace-rtl.min.css" />

    <link rel="stylesheet" href="/content/themes/style.css" />

    <link rel="stylesheet" href="http://127.0.0.1/arcgis_js_api/library/3.6/js/esri/css/esri.css" />
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1/arcgis_js_api/library/3.6/js/dojo/dijit/themes/claro/claro.css">
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/assets/js/ace.min.js"></script>
    <script src="~/Content/template.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/ace-elements.min.js"></script>
    <script src="http://127.0.0.1/arcgis_js_api/library/3.6/init.js"></script>
    <script src="~/Content/map/map.js"></script>
    <script src="~/Content/map/base.js"></script>

    <title></title>
    <style>
        .toolbar {
            width: 100%;
            height: 30px;
            background-color: white;
            z-index: 2;
            margin-top: 30px;
        }

        #maptoolbar2 ul li {
            display: inline;
        }

        .tool {
            position: absolute;
            left: 50px;
            top: 10px;
            z-index: 2;
        }

            .tool span {
                cursor: pointer;
            }

        .spaced2 > li {
            border-bottom: 1px dashed #808080;
            padding-bottom: 15px;
        }

        .widget-container-col {
            position: absolute;
            right: 0px;
            z-index: 999;
            top: -5px;
            margin: 0px;
            padding-right: 0px;
            display: none;
        }

        .profile-info-name {
            width: 50px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            // scrollables

        })
    </script>
</head>
<body class="no-skin claro">

    <div id="navbar" class="navbar navbar-default">

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        ArcgisApi
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container" id="main-container">

        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget-body">
                            <div class="widget-main">
                                <form class="form-inline">
                                    <select class="form-control" id="form-field-select-1">
                                        <option value="">全部</option>
                                        <option value="">下水管道</option>
                                    </select>
                                    <div class="input-group">
                                        <input type="text" class="form-control search-query" placeholder="">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-purple btn-sm" id="btn-search">
                                                搜索
                                                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <button type="button" class="btn btn-white" id="btn-mark">标注</button>
                            <button type="button" class="btn btn-white btn-default" id="btn-map">轨迹</button>
                        </p>
                    </div>
                    <div class="row">

                        <div id="map" class="col-sm-12" style="width:100%;height:800px;position:relative;margin:0px;padding:0px;">

                            <p class="tool">
                                <span class="label label-warning" id="ZOOM_IN">
                                    <i class="ace-icon glyphicon glyphicon-zoom-in bigger-120"></i>
                                    放大
                                </span>
                                <span class="label label-warning" id="ZOOM_OUT">
                                    <i class="ace-icon glyphicon glyphicon-zoom-out bigger-120"></i>
                                    缩小
                                </span>
                                <span class="label label-warning" id="PAN">
                                    <i class="ace-icon glyphicon glyphicon-move bigger-120"></i>
                                    漫游
                                </span>
                                <span id="info">

                                </span>
                                <span class="label label-warning" id="btn-view">
                                    <i class="ace-icon fa fa-globe bigger-120"></i>
                                    全览
                                </span>
                                <span class="label label-warning" id="btn-clear">
                                    <i class="ace-icon glyphicon glyphicon-remove bigger-120"></i>
                                    清除
                                </span>
                            </p>

                            <div id="maptoolbar2" style="position: absolute;width:150px; height: 35px; margin-top:5px; left:auto;right:330px; z-index: 2;">
                                <ul style="display: inline; ">
                                    <li>
                                        <a href="javascript:void(0)" id="getVector">
                                            <img id="Img1" src="/Content/map/images/v1.png" onmousemove="javascript: $(this).attr('src', '/Content/map/images//v2.png')" onmouseout="    javascript: $(this).attr('src', '/Content/map/images//v1.png')" alt="" style="border: node" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" id="getImg">
                                            <img src="/Content/map/images/i1.png" alt="" onmousemove="javascript: $(this).attr('src', '/Content/map/images//i2.png')" onmouseout="    javascript: $(this).attr('src', '/Content/map/images//i1.png')" />
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-2 widget-container-col" id="resultlist">
                                .
                                <script type="text/template" id="resulttpl">
                                    <div class="widget-box widget-color-blue">
                                        <div class="widget-header widget-hea1der-small">
                                            <h6 class="widget-title">查询结果</h6>
                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                                <a href="#" data-action="close">
                                                    <i class="ace-icon fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main padding-4">
                                                <!-- #section:custom/scrollbar -->
                                                <div class="scrollable" data-height="125">
                                                    <div class="content">
                                                        <ul class="list-unstyled spaced2">
                                                            {{each data as part}}
                                                            <li>
                                                                <div class="profile-user-info profile-user-info-striped">
                                                                    <div class="profile-info-row">
                                                                        <div class="profile-info-name"> 序号 </div>

                                                                        <div class="profile-info-value">
                                                                            <span class="editable editable-click">{{part.ID}}</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="profile-info-row">
                                                                        <div class="profile-info-name"> 位置 </div>

                                                                        <div class="profile-info-value">
                                                                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                                                                            <span class="editable editable-click">{{part.POINT_X}}</span>
                                                                            <span class="editable editable-click">{{part.POINT_Y}}</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="profile-info-row">
                                                                        <div class="profile-info-name"> 名称 </div>

                                                                        <div class="profile-info-value">
                                                                            <span class="editable editable-click location " tabindex="{{$index}}">{{part.adder}}</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="profile-info-row">
                                                                        <div class="profile-info-name">图片 </div>

                                                                        <div class="profile-info-value">
                                                                            <img width="100" height="100" alt="150x150" src="{{part.mappic}}" />

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>

                                                <!-- /section:custom/scrollbar -->
                                            </div>
                                        </div>
                                    </div>
                                </script>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

</body>
</html>