@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="/content/assets/css/ui.jqgrid.css" />

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <script type="text/javascript">
            var $path_base = "..";//in Ace demo this will be used for editurl parameter
        </script>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->


<script src="/content/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/content/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="/content/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/content/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<link rel="stylesheet" href="/Content/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/Content/zTree_v3/js/jquery.ztree.core.js"></script>
<script src="/content/assets/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="/content/assets/js/jquery.dataTables.min.js"></script>
<script src="/content/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="/Content/zTree_v3/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript">

    $(function () {

        ace.load_ajax_scripts([null], function () {

        });

    })


</script>

<script type="text/javascript">
    appraise.areaAppraise();
</script>