@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="/content/assets/css/ui.jqgrid.css" />

<div class="row">

    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title">查询条件</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-inline">
                        <label>街道：</label>
                        <select class="form-control" name="StreetId" id="StreetId">
                            <option value="">全部</option>
                        </select>

                        <label>街道：</label>
                        <select class="form-control" name="SquareId" id="SquareId">
                            <option value="">全部</option>
                        </select>

                        <label>时段：</label>
                        <select class="form-control" name="Type" id="Type">
                            <option value="0">周</option>
                            <option value="1">月</option>
                            <option value="2">季</option>
                            <option value="3">年</option>
                        </select>

                        <label>年份：</label>
                        <select class="form-control" name="Year" id="Year">
                            @{
                                int current = DateTime.Now.Year;
                            }
                            @for (int i = DateTime.Now.Year; i >= current - 5; i--)
                            {
                                <option value="@(i)"> @(i)</option>
                            }

                        </select>
                        <span class="number">
                            <label>第：</label>
                            <select class="form-control" name="Number" id="Number"></select>
                            <font>周</font>
                        </span>
                        <button type="button" class="btn btn-info btn-sm" id="query">
                            查询
                        </button>
                        <button type="reset" class="btn btn-info btn-sm">
                            重置
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <script type="text/javascript">
            var $path_base = "..";//in Ace demo this will be used for editurl parameter
        </script>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->


<script src="/content/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/content/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="/content/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/content/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<link rel="stylesheet" href="/Content/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/Content/zTree_v3/js/jquery.ztree.core.js"></script>
<script src="/content/assets/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="/content/assets/js/jquery.dataTables.min.js"></script>
<script src="/content/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="/Content/zTree_v3/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript">

    $(function () {

        ace.load_ajax_scripts([null], function () {
            project.getstreetList('@(ViewBag.AreaCode)');
        });

    })


</script>

<script type="text/javascript">
    appraise.areaAppraise();
</script>